<h2 mat-dialog-title>{{ "CRITIC_DIALOG.TITLE" | translate }}</h2>

<mat-dialog-content>
  <form [formGroup]="formControl" class="dialog-form">
    <div class="star-form">
      <mat-label>{{ "CRITIC_DIALOG.RATING" | translate }} / 5</mat-label>
      <app-star [readonly]="false" (ratingChange)="changeNote($event)" [rating]="formControl.get('note')?.value"></app-star>
      <mat-error *ngIf="formControl.get('note')?.invalid">{{ "CRITIC_DIALOG.RATING_ERROR" | translate }}</mat-error>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>{{ "CRITIC_DIALOG.COMMENT" | translate }}</mat-label>
      <input matInput formControlName="commentaire" required>
      <mat-error *ngIf="formControl.get('commentaire')?.invalid">{{ "CRITIC_DIALOG.COMMENT_ERROR" | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "CRITIC_DIALOG.NAME" | translate }} ({{ "CRITIC_DIALOG.OPTIONAL" | translate }})</mat-label>
      <input matInput formControlName="nom">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "CRITIC_DIALOG.SURNAME" | translate }} ({{ "CRITIC_DIALOG.OPTIONAL" | translate }})</mat-label>
      <input matInput formControlName="prenom">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>{{ "CRITIC_DIALOG.CANCEL" | translate }}</button>
  <button mat-dialog-actions mat-button (click)="submit()" [disabled]="formControl.invalid">{{ "ADMIN.DESCRIPTION.ADD" | translate }}</button>
</mat-dialog-actions>
