<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "WELCOME" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>{{ "ATTRACTIONS.NAME" | translate }}</span>
        <span>{{ "ATTRACTIONS.DESCRIPTION" | translate }}</span>
        <span>{{ "ATTRACTIONS.DIFFICULTY" | translate }}</span>
        <span>{{ "ATTRACTIONS.CRITICS" | translate }}</span>
      </div>
    </div>
    <ng-container *ngFor="let attraction of attractions | async;">
      <div class="attraction">
        <span>{{attraction.nom}}</span>
        <span>{{attraction.description}}</span>
        <span>{{attraction.difficulte}} / 5</span>
        <span class="critique-column">
          <button mat-stroked-button [routerLink]="['/attraction', attraction.attraction_id, 'critique']">{{ "ATTRACTIONS.SEE" | translate }}</button>
          <app-star [rating]="means.get(attraction.attraction_id ?? -1) | async"></app-star>
        </span>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>