<mat-card>
  <mat-card-header>
    <mat-card-title>Avis de l'attraction <button mat-button (click)="openDialog()"> Ajouter</button> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let avi of avis | async;">
      <div class="avis">
        <h3>{{avi.prenom}} {{avi.nom}} a écrit :</h3> 
        <p> <span style="background-color: lightgray;"> {{avi.note}} / 20 </span> {{avi.texte}}</p>
      </div>
      <hr>
    </ng-container>
  </mat-card-content>
</mat-card>